<h1>Word Central</h1>

<h2>Here is your word count:</h2>
<p>Your text: <%= @text %> </p>
<p><strong>Amount of words:</strong> <%= @word_count%></p>

<h2>The average human could read this in the following amount of time:</h2>

<%= @minutes %> minutes.

<h2>Your must used words are:</h2>
<%= @word_frequency %>