<form action="/placeholder_text" method="post">

	<label for="placeholder_text">Amount:</label>
	<input type="number" name="placeholder_text[amount]" id="amount">

	<label for="placeholder_option">Option:</label>
	<select name="placeholder[option]" id="placeholder_option">
		<option>Paragraphs</option>
		<option>Words</option>
	</select>

  <button type="submit">Submit text</button>

  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>


